This is the first part of the "Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto"

First we are going to import some libraries

In [139]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans



print('Libraries imported.')

Libraries imported.

Second we are going to scrape the Wikipedia table of Toronto

In [140]:
import urllib.request
from bs4 import BeautifulSoup

In [141]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page, "lxml")

In [ ]:
print (soup.prettify())

In [143]:
all_tables=soup.find_all("table")
table_toronto=soup.find('table', class_='wikitable sortable')

In [144]:
A=[]
B=[]
C=[]


for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [145]:
df=pd.DataFrame(A,columns=['PostalCode'])
df['Borough']=B
df['Neighborhood']=C
df.head()

  PostalCode            Borough                 Neighborhood
0       M1A
      Not assigned


1       M2A
      Not assigned


2       M3A
        North York
                   Parkwoods

3       M4A
        North York
            Victoria Village

4       M5A
  Downtown Toronto
  Regent Park / Harbourfront

With the data we get from Wikipedia, we replace the Not assigned and

In [146]:
df = df.replace('Not assigned',np.nan, regex=True)
df.head()

  PostalCode            Borough                 Neighborhood
0       M1A
                NaN

1       M2A
                NaN

2       M3A
        North York
                   Parkwoods

3       M4A
        North York
            Victoria Village

4       M5A
  Downtown Toronto
  Regent Park / Harbourfront

In [147]:
df.dropna(subset=["Borough"], axis=0, inplace=True)
df = df.reset_index(drop=True)
df.head(15)

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Regent Park / Harbourfront
3,M6A,North York,Lawrence Manor / Lawrence Heights
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,Malvern / Rouge
7,M3B,North York,Don Mills
8,M4B,East York,Parkview Hill / Woodbine Gardens
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...
12,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek
13,M3C,North York,Don Mills
14,M4C,East York,Woodbine Heights

In [148]:
df.replace(' \ ' , ',', inplace=True)
df.head()

  PostalCode            Borough                                   Neighborhood
0       M3A
        North York
                                     Parkwoods

1       M4A
        North York
                              Victoria Village

2       M5A
  Downtown Toronto
                    Regent Park / Harbourfront

3       M6A
        North York
             Lawrence Manor / Lawrence Heights

4       M7A
  Downtown Toronto
  Queen's Park / Ontario Provincial Government

In [149]:
df.shape

(103, 3)